expose:
  type: nodePort
  tls:
    enabled: false
  nodePort:
    name: harbor
    ports:
      http:
        port: {{ harbor_nodeport_http }}
      https:
        port: {{ harbor_nodeport_https }}
harborAdminPassword: "{{ harbor_admin_password }}"
persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      size: {{ harbor_persistence_size_registry }}
    chartmuseum:
      size: {{ harbor_persistence_size_chartmuseum }}
    jobservice:
      size: {{ harbor_persistence_size_jobservice }}
    database:
      size: {{ harbor_persistence_size_database }}
    redis:
      size: {{ harbor_persistence_size_redis }}
    trivy:
      size: {{ harbor_persistence_size_trivy }}